<div class="row no-gutters">
    <div class="col-md-4 pl-0 bg-white col-sm-4" style="background-color: #f5fcf4;">
      <div class="left-side text-center m-0 imgLeft">
        <div class="logo">
          <img class="docPatImg" src="assets/logo.png" width="100%" alt="">
        </div>
        <h3>
          Lorem Ipsum dolar sit,<br> amet consectetur<br>
          <span class="clolerText">adipiscing elit</span>
        </h3>
      </div>
    </div>
  
    <div class="mb-4  p-3 mt-5 pt-5 offset-md-1 col-md-5 bg-white col-sm-5">
      <div class="container-lg">
        <ul class="nav">
          <li class="nav-item">
            <a class="nav-link active subIcon" href="#"><i class="fal fa-user" style="padding: 8px 10px;"></i> Subscriber</a>
          </li>
          <li class="nav-item">
            <a class="nav-link subIcon" href="#" > <i class="fal fa-users" style="padding: 10px 7px;"></i> Guest</a>
          </li>
        </ul>
        <div class="form-section mt-4">
          <form class="row g-3">
            <div class="input-group mb-3">
              <input type="text" class="form-control" placeholder="Username" aria-label="username">
              <span class="fal fa-user errspan"></span>
            </div>
            <div class="input-group mb-3">
              <input type="password" class="form-control" placeholder="Password" aria-label="password">
              <span class="far fa-lock errspan"></span>
            </div>
          </form>
          <a href="" class="ForPass">Forgot Password</a>
          <div class="d-grid gap-2 col-12 mx-auto my-4">
            <button class="btn" type="button" (click)="signIn()" style="background: #6a9b63;color: #fff;padding: 8px;">Sign In</button>
          </div>
        </div>
  
      </div>
    </div>